@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

* {
  scroll-behavior: smooth;
}

/* styling for navigation bar */
.navbar {
  background-image: url(/img/kendall-henderson-Pj6TgpS_Vt4-unsplash\ 1.png);
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 5%;
  padding-right: 6%;
}

.navbar-toggler- {
  outline: none;
}
.nav-link {
  color: #fff;
  text-align: center;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 37px;
  text-align: right;
  float: right;
}

.nav-item {
  padding-left: 30px;
}

.navbar-nav {
  border-radius: 2px;
  background: linear-gradient(
    133deg,
    rgba(255, 255, 255, 0.4) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  padding-left: 60px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 60px;
}

.nav-item :hover {
  color: #ffd369;
  transition: 0.6s;
}

.dropdown-menu {
  background: linear-gradient(
    133deg,
    rgba(255, 255, 255, 0.4) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  color: #fff;
  text-align: center;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 37px;
}

.dropdown-menu :hover {
  background-color: #412732;
}

.btn {
  display: inline-block;
  border-radius: 5px;
  border: none;
  background: #412732;
  color: #fff;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 37px; /* 185% */
  text-decoration: none;
  box-shadow: 0px 14px 56px -11px #412732;
  width: 180px;
  padding: 15px;
  transition: all 0.4s;
  cursor: pointer;
}

.btn:hover {
  color: black;
  background-color: #ffd369;
  transition: 0.6s;
  cursor: pointer;
}

/* styling for the footer */
.footer {
  background-color: #000;
  color: #fff;
  padding-top: 60px;
  padding-bottom: 10px;
  padding-left: 20px;
}

.footer a {
  text-decoration: none;
  color: white;
}

.heading10 {
  color: #f1f1f1;
  font-family: Poppins;
  font-size: 28px;
  font-style: normal;
  font-weight: 500;
  line-height: 44.4px; /* 158.571% */
}

.heading11 {
  display: flex;
  padding-left: 100px;
  color: #f1f1f1;
  font-family: Poppins;
  font-size: 28px;
  font-style: normal;
  font-weight: 500;
  line-height: 44.4px; /* 158.571% */
}
.scroll-top {
  float: right;
}

.end {
  display: flex;
  justify-content: space-between;
}

/* Main */

#one {
  color: #412732;
  font-size: 40px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-align: center;
  padding-top: 20px;
  word-spacing: 10px;
}

.contact {
  min-height: auto;
  padding-bottom: 7rem;
}

.contact form {
  max-width: 100rem;
  margin: 0px 250px 0px 250px;
  padding: 10px 10px 10px 10px;
  text-align: center;
}

.contact form .input-box {
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.contact form .input-box .input-field {
  position: relative;
  width: 50%;
  height: 80px;
  margin: 0.8rem 0;
  gap: 10px;
  padding: 0px 10px 0px 1px;
}

.contact form .input-box .input-field input,
.contact form .textarea textarea {
  width: 100%;
  height: 100%;
  font-size: 18px;
  color: black;
  background: transparent;
  border: 3px solid #412732;
  padding-left: 15px;
}

.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  background: #412732;
  padding: 10px 70px 10px 70px;
  gap: 20px;
  color: #fff;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 37px;
  text-align: right;
}

form ::-webkit-input-placeholder {
  color: #000000;
  padding-left: 15px;
  padding-top: 10px;
  font-size: 20px;
}

.heading {
  width: 1370px;
  height: 402px;
  /* padding: 10px 0px 10px 10px; */
  margin: 0px 10px 0px -5px;
}

.textarea {
  width: 1370px;
}

#two {
  padding-top: 20px;
  text-align: center;
}